<!doctype html>
<html lang="en" ng-app="rangersScheduleApp">
<head>
	<meta charset="UTF-8">
	<title>Texas Rangers 2014 Schedule</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/ScheduleController.js"></script>
</head>
<body ng-controller="RangersScheduleCtrl">

	<div ng-repeat="game in games">
		<div ng-if="game.home">
			<div class="away">
				<div class="logo {{game.Opponent}}"></div>
			</div>
			<div class="home">
				<div class="logo TEX"></div>
			</div>
			<div class="meta">
				<div class="date">{{game.Date}}</div>
				<div class="time">{{game.Time}}</div>
				<div class="tv">{{game.TV}}</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div ng-if="!game.home">
			<div class="away">
				<div class="logo TEX"></div>
			</div>
			<div class="home">
				<div class="logo {{game.Opponent}}"></div>
			</div>
			<div class="meta">
				<div class="date">{{game.Date}}</div>
				<div class="time">{{game.Time}}</div>
				<div class="tv">{{game.TV}}</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

</body>
</html>
